.classFiyRight h3{
    display: block;
    width: 100%;
    line-height: 46px;
    height: 46px;
    font-size: 18px;
    font-weight: 800;
    color: #1a1a1a;
}
.classFiyRight p{
    line-height: 30px;
    margin-bottom: 40px;
    font-size: 14px;
    color: #818388;
    text-align: justify;
}

