.classFiyRight ul li{
    width: 276px;
    height: 330px;
    margin: 12px;
    border: 1px solid #f2f2f2;
}
.classFiyRight ul li a{
    display: block;
    width: 248px;
    height: 300px;
    padding: 15px;
}
.classFiyRight ul li a span{
    display: block;
    overflow: hidden;
}
.classFiyRight ul li a span i{
    display: block;
    width: 250px;
    height: 250px;
    transition: all 0.3s linear;
}
.classFiyRight ul li:nth-of-type(1) a span i{
    background: url("../images/pro1.png")no-repeat  -1px;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(2) a span i{
    background: url("../images/pro2.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(3) a span i{
    background: url("../images/pro3.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(4) a span i{
    background: url("../images/pro4.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(5) a span i{
    background: url("../images/pro5.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(6) a span i{
    background: url("../images/pro6.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(7) a span i{
    background: url("../images/pro7.png")no-repeat;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(8) a span i {
    background: url("../images/pro8.png")no-repeat -1px;
    background-size: 100%;
}
.classFiyRight ul li:nth-of-type(9) a span i{
    background: url("../images/pro9.jpg")no-repeat -1px;
    background-size: 100%;
}
.classFiyRight ul li a:hover >span i{
   transform: scale(1.2);
}
.classFiyRight ul li a p{
    width: 250px;
    font-size: 14px;
    margin: 6px auto;
    color: #3f3e45;
}
.classFiyRight ul li a p:nth-of-type(2){
    color: #ff231a;
}

